@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #F5F8FF;
}

/* shared styles */
.container {
  max-width: 1172px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.heading-2{
  font-size: 1rem;
}
main > section{
  margin: 120px auto;
}
.article-title{
  font-size: 3.125rem;
  font-weight: bold;
  text-align: center;
  font-family: "Noto Serif", serif;
  font-variation-settings: "wdth" 100;
}
.article-title span{
  color: #E95A08;
}
.article-subtitle{
  font-size: 1.375rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.subtitle-centered{
  text-align: center;
  max-width: 890px;
  margin: 16px auto 55px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

/* Nav */
nav ul {
  list-style-type: none;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  padding: 10px 20px;
  color: #8987A1;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}
.active{
  font-weight: bold;
  color: #252432;
}
.cart-btn{
  color: black;
}


/* Hero Section */
.hero{
  display: flex;
  align-items: flex-end;
}
.hero h1{
  font-size: 4rem;
  font-weight: bold;
}
.hero h1 span{
  color: #E95A08;
}


/* Section : Collection */
.collection-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.card{
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card img{
  width: 100%;
  margin-bottom: 30px;
}
.card h4{
  font-size: 1.375rem;
  font-weight: 500;
  color: #111111;
}
.card h5{
  margin: 8px auto 20px;
  font-size: 1.375rem;
  font-weight: bold;
  color: #111111;
}
.card button{
  width: 100%;
  background-color: #E95A08;
  padding: 16px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* section Banner */
.banner{
  margin-top: 200px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.banner h2{
  text-align: left;
}
.banner ul{
  padding-left: 35px;
}
.banner ul li{
  margin-bottom: 20px;
}
/* Trusted Seller Badge in banner */
.banner-img{
  position: relative;
}
.trusted-badge{
  width: 280px;
  height: 280px;
  position: absolute;
  top: -120px;
  right: -110px;
  filter: drop-shadow(-4px 10px 4px rgba(0,0,0, 0.25));
}

/* section Latest Deal */
.discount-boxs{
  min-height: 420px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.discount-boxs > div{
  color: white;
  border-radius: 22px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.discount-boxs h4{
  font-size: 1.25rem;
}
.discount-boxs a{
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.d-box1{
  background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url('./assets/deal-bloom.png');
}
.d-box2{
  background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url('./assets/deal-ana.png');
  grid-row-start: 2;
}
.d-box3{
  background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url('./assets/deal-zabo.png');
  grid-column: span 2;
  grid-row: span 2;
}
.d-box3 h4{
  font-size: 2.5rem;
}
.d-box3 a{
  font-size: 1.75rem;
}

/* section : newsletter */
.newsletter{
  color: white;
  padding: 200px 20px;
  text-align: center;
  background-image: url('./assets/news-letter-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.email-field{
  margin: 23px auto auto;
  max-width: 830px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.email-field input{
  padding: 15px 20px;
  font-size: 1rem;
  border: none;
}
.email-field input[type="email"]{
  width: 100%;
}
.email-field input[type="button"]{
  color: white;
  padding: 15px 50px;
  background-color: #E95A08;
  font-weight: 600;
}

/* Footer */
.footer-content{
  padding: 50px 16px;
  display: grid;
  grid-template-columns: 360px 323px 216px;
  justify-content: space-between;
}
.footer-info{
  font-size: 1rem !important;
}
.footer-links{
  display: flex;
  justify-content: space-between;
}
footer ul{
  list-style-type: none;
}
footer ul li a{
  color: rgba(107, 114, 128, 1);
  margin-bottom: 40px;
}
.footer-links ul li:last-child a{
  margin-bottom: 20px;
}
.social-links{
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.social-links a, footer ul li a{
  display: inline-block;
  text-decoration: none;
}
.twitter-logo{
  transform: translateY(10px);
}
a:hover{
  text-decoration: 1px solid underline;
}

/* Responsive Design */
@media screen and (max-width: 992px){
  .hero{
    flex-direction: column-reverse;
    gap: 40px;
  }
  .card h4, .card h5{
    font-size: 1.125rem;
  }
  .collection-cards{
    grid-template-columns: repeat(3, 1fr);
  }
  .banner{
    flex-direction: column;
  }
  .footer-content{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 80px;
  }
  .trusted-badge{
    display: none;
  }
  .banner{
    margin-top: auto;
  }
}
@media screen and (max-width: 768px){
  nav ul li a{
    padding: 10px 13px;
  }
  main > section{
    margin: 60px auto;
  }
  .article-title{
    font-size: 2.5rem;
  }
  .article-subtitle{
    font-size: 1.125rem;
  }
  .hero h1{
    font-size: 3rem;
  }
  .hero p{
    font-size: 1.125rem;
  }
  .hero img{
    width: 100%;
  }
  .collection-cards{
    gap: 28px 20px;
  }
  .card img{
    margin-bottom: 20px;
  }
  .banner img{
    width: 100%;
  }
  .discount-boxs > div{
    border-radius: 14px;
  }
  .discount-boxs h4{
    font-size: 1.25rem;
  }
  .discount-boxs a{
    font-size: 1rem;
  }
}
@media screen and (max-width: 570px){
  header .logo{
    width: 80px;
    height: auto;
  }
  nav ul li a:not(.cart-btn) {
    display: none;
  }
  main > section{
    margin: 30px auto 60px;
  }
  .article-title{
    font-size: 1.5rem;
  }
  .article-subtitle{
    font-size: 0.875rem;
  }
  .subtitle-centered{
    margin: 16px auto 28px;
  }
  .hero{
    gap: 28px;
  }
  .hero h1{
    font-size: 1.5rem;
  }
  .hero p{
    font-size: 0.875rem;
  }
  .collection-cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .card h4, .card h5{
    font-size: 1rem;
  }
  .banner{
    gap: 18px;
  }
  .banner ul{
    padding-left: 20px;
  }
  .discount-boxs{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
  }
  .d-box1{
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('./assets/deal-bloom.png');
  }
  .d-box2{
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('./assets/deal-ana.png');
    grid-row-start: 2;
  }
  .d-box3{
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('./assets/deal-zabo.png');
    grid-column: span 1;
    grid-row: span 1;
  }
  .newsletter{
    padding: 110px 20px 64px;
  }
  .email-field{
    width: 95%;
  }
  .email-field input[type="button"]{
    padding: 15px;
  }
  .footer-content{
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .social-links{
    justify-content: space-evenly;
  }
}